<div class="container-fluid">
    <app-page-title title="Reviews" subTitle="Ecommerce"/>

    <div class="row justify-content-center">
        <div class="col-xxl-12">
            <div class="card">
                <div class="card-header p-0 d-block">
                    <div class="row g-0 align-items-center">
                        <div class="col-xl-6 border-end border-dashed">
                            <div class="row align-items-center g-0">
                                <div class="col-xl-7">
                                    <div class="d-flex align-items-center gap-4 p-4">
                                        <img src="assets/images/ratings.svg" alt="Product" height="80">
                                        <div>
                                            <h3 class="text-primary d-flex align-items-center gap-2 mb-2 fw-bold">
                                                4.92
                                                <ng-icon name="tablerStarFill"/>
                                            </h3>
                                            <p class="mb-2">Based on 245 verified reviews</p>
                                            <p class="pe-2 h6 text-muted mb-2 lh-base">Feedback collected from real
                                                customers who purchased our templates</p>
                                            <span class="badge badge-label text-bg-success">+12 new this week</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-5">
                                    <div class="p-3">
                                        @for (review of reviews; track $index; let index = $index; let last = $last) {
                                            <div class="d-flex align-items-center gap-2 {{!last ? 'mb-2' : ''}}">
                                                <div class="flex-shrink-0"
                                                     style="width: 50px;">{{ reviews.length - index }}
                                                    Star
                                                </div>
                                                <ngb-progressbar class="w-100" [value]="review.progress" type="primary"
                                                                 style="height: 8px"/>

                                                <div class="flex-shrink-0 text-end"
                                                     style="width: 30px;"><span
                                                    class="badge text-bg-light">{{ review.count }}</span></div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="pe-3 ps-1">
                                <app-apexchart [getOptions]="reviewChartOptions"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-header border-light d-flex align-items-center justify-content-between flex-wrap gap-2">

                    <div class="d-flex gap-2">
                        <div class="app-search">
                            <input [(ngModel)]="tableService.searchTerm" class="form-control"
                                   placeholder="Search reviews...">
                            <lucide-angular [img]="LucideSearch" class="app-search-icon text-muted"/>
                        </div>
                        @if (hasSelection) {
                            <button class="btn btn-danger" (click)="deleteSelected()">Delete</button>
                        }

                    </div>

                    <div class="d-flex align-items-center gap-2">

                        <div>
                            <select [(ngModel)]="tableService.pageSize" class="form-select form-control my-1 my-md-0">
                                <option [ngValue]="5">5</option>
                                <option [ngValue]="10">10</option>
                                <option [ngValue]="15">15</option>
                                <option [ngValue]="20">20</option>
                            </select>
                        </div>

                        <div ngbDropdown>
                            <button class="btn btn-default dropdown-toggle drop-arrow-none" type="button"
                                    ngbDropdownToggle>
                                <lucide-angular [img]="LucideDownload" class="me-1"/>
                                Export
                                <ng-icon
                                    name="tablerChevronDown" class="ms-1"/>
                            </button>
                            <ul class="dropdown-menu-end" ngbDropdownMenu>
                                <li><a ngbDropdownItem>Export as PDF</a></li>
                                <li><a ngbDropdownItem>Export as CSV</a></li>
                                <li><a ngbDropdownItem>Export as Excel</a></li>
                            </ul>
                        </div>

                        <div ngbDropdown>
                            <button class="btn btn-default dropdown-toggle drop-arrow-none" type="button"
                                    ngbDropdownToggle>
                                View All
                                <ng-icon name="tablerChevronDown" class="ms-1"/>
                            </button>
                            <ul class="dropdown-menu-end" ngbDropdownMenu>
                                <li><a ngbDropdownItem>All</a></li>
                                <li><a ngbDropdownItem>Pending</a></li>
                                <li><a ngbDropdownItem>Approved</a></li>
                                <li><a ngbDropdownItem>Disabled</a></li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-custom table-centered table-select table-hover w-100 mb-0">
                        <thead class="bg-light align-middle bg-opacity-25">
                        <tr class="text-uppercase fs-xxs">
                            <th class="ps-3" style="width: 1%;">
                                <input [(ngModel)]="selectAll" (change)="toggleAllSelection()"
                                       class="form-check-input form-check-input-light fs-14 mt-0"
                                       type="checkbox" id="select-all-products" value="option">
                            </th>
                            <th sortable="productName" (sort)="tableService.setSort($event.column, $event.direction)">
                                Product
                            </th>
                            <th sortable="name" (sort)="tableService.setSort($event.column, $event.direction)">
                                Reviewer
                            </th>
                            <th style="width: 18rem;">Review</th>
                            <th sortable="date" (sort)="tableService.setSort($event.column, $event.direction)">Date</th>
                            <th sortable="status" (sort)="tableService.setSort($event.column, $event.direction)">
                                Status
                            </th>
                            <th class="text-center" style="width: 1%;">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            @if ((total$ | async)! > 0) {
                                @for (review of productReviews$ | async; track $index) {
                                    <tr>
                                        <td class="ps-3">
                                            <input [(ngModel)]="review.selected" (change)="toggleSingleSelection()"
                                                   type="checkbox"
                                                   class="form-check-input form-check-input-light fs-14 mt-0"/>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar-lg me-3">
                                                    <img [src]="review.image" [alt]="review.productName"
                                                         class="img-fluid rounded"/>
                                                </div>
                                                <div>
                                                    <h5 class="mb-0">{{ review.productName }}</h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center gap-2">
                                                <img [src]="review.avatar" [alt]="review.name"
                                                     class="avatar-sm rounded-circle"/>
                                                <div>
                                                    <h5 class="fs-sm mb-0">{{ review.name }}</h5>
                                                    <p class="text-muted fs-xs mb-0">{{ review.email }}</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-warning fs-lg">
                                                <app-rating [rate]="review.rating" size="16"/>
                                            </div>
                                            <h5 class="mt-2 mb-1">{{ review.message }}</h5>
                                            <p class="text-muted fst-italic mb-0">"{{ review.description }}"</p>
                                        </td>
                                        <td>{{ review.date }} <small class="text-muted">{{ review.time }}</small></td>
                                        <td>
                                <span
                                    class="badge fs-xxs"
                                    [class]="review.status === 'pending' ? 'badge-soft-warning' : 'badge-soft-success'">
                                  {{ toTitleCase(review.status) }}
                                </span>
                                        </td>
                                        <td class="text-center">
                                            <div class="d-flex justify-content-center gap-1">
                                                <button class="btn btn-default btn-icon btn-sm rounded-circle">
                                                    <ng-icon
                                                        name="tablerEye" class="fs-lg"/>
                                                </button>
                                                <button class="btn btn-default btn-icon btn-sm rounded-circle">
                                                    <ng-icon
                                                        name="tablerEdit" class="fs-lg"/>
                                                </button>
                                                <button class="btn btn-default btn-icon btn-sm rounded-circle"
                                                        (click)="tableService.deleteItem(review)">
                                                    <ng-icon
                                                        name="tablerTrash" class="fs-lg"/>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            } @else {
                                <tr class="no-results">
                                    <td colspan="11" class="text-center text-muted py-3">Nothing found.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer border-0">
                    @if ((total$ | async)! > 0) {
                        <app-custom-pagination
                            [showingRange]="tableService.showingRange"
                            [collectionSize]="(total$ | async)!"
                            [(page)]="tableService.page"
                            [pageSize]="tableService.pageSize"
                        >
                        </app-custom-pagination>
                    }
                </div>
            </div>

        </div>
    </div>

</div>
