<div class="container-fluid">
    <app-page-title title="Products" subTitle="Ecommerce"/>


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header border-light justify-content-between">
                    <div class="d-flex gap-2">
                        <div class="app-search">
                            <input [(ngModel)]="tableService.searchTerm" data-table-search type="search"
                                   class="form-control"
                                   placeholder="Search product name...">
                            <lucide-angular [img]="LucideSearch" class="app-search-icon text-muted"/>
                        </div>
                        @if (hasSelection) {
                            <button class="btn btn-danger" (click)="deleteSelected()">Delete</button>
                        }
                    </div>

                    <div class="d-flex align-items-center gap-2">
                        <span class="me-2 fw-semibold">Filter By:</span>

                        <div class="app-search">
                            <select [(ngModel)]="categoryFilter"
                                    (ngModelChange)="tableService.setFilter('category', categoryFilter)"
                                    class="form-select form-control my-1 my-md-0">
                                <option value="All">Category</option>
                                <option value="Electronics">Electronics</option>
                                <option value="Fashion">Fashion</option>
                                <option value="Home">Home</option>
                                <option value="Sports">Sports</option>
                                <option value="Beauty">Beauty</option>
                            </select>
                            <lucide-angular [img]="LucideTag" class="app-search-icon text-muted"/>
                        </div>

                        <div class="app-search">
                            <select [(ngModel)]="statusFilter"
                                    (ngModelChange)="tableService.setFilter('status', statusFilter)"
                                    class="form-select form-control my-1 my-md-0">
                                <option value="All">Status</option>
                                <option value="Published">Published</option>
                                <option value="Pending">Pending</option>
                                <option value="Out of Stock">Out of Stock</option>
                            </select>
                            <lucide-angular [img]="LucideBox" class="app-search-icon text-muted"/>
                        </div>

                        <div class="app-search">
                            <select [(ngModel)]="ratingFilter"
                                    (ngModelChange)="tableService.setFilter('rating', ratingFilter)"
                                    class="form-select form-control my-1 my-md-0">
                                <option value="All">Rating</option>
                                <option value="5">5</option>
                                <option value="4">4</option>
                                <option value="3">3</option>
                                <option value="2">2</option>
                                <option value="1">1</option>
                            </select>
                            <lucide-angular [img]="LucideStar" class="app-search-icon text-muted"/>
                        </div>

                        <div>
                            <select [(ngModel)]="tableService.pageSize" class="form-select form-control my-1 my-md-0">
                                <option [ngValue]="5">5</option>
                                <option [ngValue]="8">8</option>
                                <option [ngValue]="10">10</option>
                                <option [ngValue]="15">15</option>
                                <option [ngValue]="20">20</option>
                            </select>
                        </div>

                    </div>

                    <div class="d-flex gap-1">
                        <a routerLink="/ecommerce/products/grid" class="btn btn-soft-primary btn-icon">
                            <lucide-angular [img]="LucideLayoutGrid" class="fs-lg"/>
                        </a>
                        <a routerLink="/ecommerce/products" class="btn btn-primary btn-icon">
                            <lucide-angular [img]="LucideList" class="fs-lg"/>
                        </a>
                        <a routerLink="/ecommerce/products/add" class="btn btn-danger ms-1">
                            <lucide-angular [img]="LucidePlus" class="fs-sm me-2"/>
                            Add Product
                        </a>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-custom table-centered table-select table-hover w-100 mb-0">
                        <thead class="bg-light align-middle bg-opacity-25 thead-sm">
                        <tr class="text-uppercase fs-xxs">
                            <th class="ps-3" style="width: 1%;">
                                <input [(ngModel)]="selectAll"
                                       (change)="toggleAllSelection()"
                                       class="form-check-input form-check-input-light fs-14 mt-0"
                                       type="checkbox" id="select-all-products" value="option">
                            </th>
                            <th sortable="name" (sort)="tableService.setSort($event.column, $event.direction)">Product
                            </th>
                            <th>SKU</th>
                            <th sortable="category" (sort)="tableService.setSort($event.column, $event.direction)">
                                Category
                            </th>
                            <th sortable="stock" (sort)="tableService.setSort($event.column, $event.direction)">Stock
                            </th>
                            <th sortable="price" (sort)="tableService.setSort($event.column, $event.direction)">Price
                            </th>
                            <th sortable="orders" (sort)="tableService.setSort($event.column, $event.direction)">
                                Orders
                            </th>
                            <th sortable="rating" (sort)="tableService.setSort($event.column, $event.direction)">
                                Rating
                            </th>
                            <th sortable="status" (sort)="tableService.setSort($event.column, $event.direction)">
                                Status
                            </th>
                            <th sortable="date" (sort)="tableService.setSort($event.column, $event.direction)">
                                Published
                            </th>
                            <th class="text-center" style="width: 1%;">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            @if ((total$ | async)! > 0) {
                                @for (product of products$ | async; track $index) {
                                    <tr>
                                        <td class="ps-3">
                                            <input [(ngModel)]="product.selected"
                                                   (change)="toggleSingleSelection()"
                                                   class="form-check-input form-check-input-light fs-14 product-item-check mt-0"
                                                   type="checkbox" value="option">
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <div class="avatar-md me-3">
                                                    <img [src]="product.image" alt="Product" class="img-fluid rounded">
                                                </div>
                                                <div>
                                                    <h5 class="mb-0">
                                                        <a routerLink="/ecommerce/products/{{product.sku}}"
                                                           class="link-reset">{{ truncateText(product.name) }}</a>
                                                    </h5>
                                                    <p class="text-muted mb-0 fs-xxs">by: {{ product.manufacturer }}</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{ product.sku }}</td>
                                        <td>{{ product.category }}</td>
                                        <td>
                                            <h5 class="fs-base mb-0 fw-medium">{{ product.stock }}</h5>
                                        </td>
                                        <td>{{ currency }}{{ product.price }}</td>
                                        <td>{{ product.orders }}</td>
                                        <td>
                                            <app-rating [rate]="product.rating"/>
                                            <span class="ms-1"><a routerLink="/ecommerce/reviews"
                                                                  class="link-reset fw-semibold">({{ product.reviews }}
                                                )</a></span>
                                        </td>
                                        <td>
                                            <span class="badge fs-xxs" [class]="
                                              product.status === 'pending' ? 'badge-soft-warning' :
                                              product.status === 'out-of-stock' ? 'badge-soft-danger' :
                                              'badge-soft-success'
                                            ">{{ toTitleCase(product.status) }}</span></td>
                                        <td>{{ product.date }} <small class="text-muted">{{ product.time }}</small></td>
                                        <td>
                                            <div class="d-flex justify-content-center gap-1">
                                                <a [routerLink]="[]"
                                                   class="btn btn-default btn-icon btn-sm rounded-circle">
                                                    <ng-icon
                                                        name="tablerEye" class="fs-lg"/>
                                                </a>
                                                <a [routerLink]="[]"
                                                   class="btn btn-default btn-icon btn-sm rounded-circle">
                                                    <ng-icon
                                                        name="tablerEdit" class="fs-lg"/>
                                                </a>
                                                <button
                                                    class="btn btn-default btn-icon btn-sm rounded-circle"
                                                    (click)="tableService.deleteItem(product)">
                                                    <ng-icon
                                                        name="tablerTrash" class="fs-lg"/>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            } @else {
                                <tr class="no-results">
                                    <td colspan="11" class="text-center text-muted py-3">Nothing found.</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <div class="card-footer border-0">
                    @if ((total$ | async)! > 0) {
                        <app-custom-pagination
                            [showingRange]="tableService.showingRange"
                            [collectionSize]="(total$ | async)!"
                            [(page)]="tableService.page"
                            [pageSize]="tableService.pageSize"
                        >
                        </app-custom-pagination>
                    }
                </div>
            </div>

        </div>
    </div>
</div>
