<section class="bg-light bg-opacity-50 border-top border-light position-relative" id="home">

    <div class="container pt-5 position-relative">

        <div class="row">
            <div class="col-lg-8 mx-auto text-center">


                <h1 class="my-4 fs-36 fw-bold lh-base">
                    Modern, Powerful & Flexible <span class="text-primary">Admin & Dashboard</span> Template –
                    <span class="text-muted">Built for Serious Web Applications</span>
                </h1>


                <p class="mb-4 fs-md text-muted lh-lg">
                    Build fast, modern, and scalable web apps with our best-selling Admin Dashboard Template.
                    Engineered for performance, flexibility, and easy customization — ideal for startups, agencies, and enterprise teams.
                </p>


                <div class="d-flex gap-1 gap-sm-2 flex-wrap justify-content-center">
                    <a class="btn btn-primary py-2 fw-semibold" [routerLink]="['.']">
                        <ng-icon name="tablerBasket" class="fs-xl me-2"></ng-icon>Buy UBold Now!
                    </a>
                </div>
            </div>
        </div>


        <div class="container position-relative">

            <div class="row">
                <div class="col-md-10 mx-auto position-relative">


                    <img src="assets/images/dashboard.png" class="rounded-top-4 img-fluid mt-5" alt="saas-img">

                </div>
            </div>
        </div>
    </div>
</section>
