<div class="container-fluid">
    <app-page-title title="ApexSankey" subTitle="Charts"/>
    <div class="row">
        <div class="col-lg-6">
            <app-ui-card title="Basic Sankey">
                <div class="p-3" card-body>
                    <div dir="ltr">
                        <div #basicSankey style="margin: 0 auto;"></div>
                    </div>
                </div>
            </app-ui-card>
        </div>

        <div class="col-lg-6">
            <app-ui-card title="Node Customization">
                <div class="p-3" card-body>
                    <div dir="ltr">
                        <div #nodeSankey style="margin: 0 auto;"></div>
                    </div>
                </div>
            </app-ui-card>
        </div>

        <div class="col-lg-6">
            <app-ui-card title="Edge Customization">
                <div class="p-3" card-body>
                    <div dir="ltr">
                        <div #edgeSankey style="margin: 0 auto;"></div>
                    </div>
                </div>
            </app-ui-card>
        </div>

        <div class="col-lg-6">
            <app-ui-card title="Font Options">
                <div class="p-3" card-body>
                    <div #fontSankey style="margin: 0 auto;"></div>
                </div>
            </app-ui-card>
        </div>
    </div>
</div>
