<div class="container-fluid">
    <app-page-title title="ApexSankey" subTitle="Charts"/>

    @for (tree of ['right-to-left', 'bottom-tree', 'top-to-bottom', 'collapse-expand']; track $index) {
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{ tree.replace('-', ' ') | titlecase }}</h4>
            </div>
            <div class="card-body">
                <div id="{{ tree }}" style="margin: 0 auto;"></div>
            </div>
        </div>
    }
</div>
