<div class="container-fluid">
    <app-page-title title="Carousel" subTitle="UI"/>

    <div class="row">
     

        <div class="col-lg-6">
            <app-ui-card title="Slides Only" [isTogglable]="true">
                <div card-body>
                    <ngb-carousel [showNavigationIndicators]="false"
                                  [showNavigationArrows]="false">
                        <ng-template ngbSlide>
                            <img src="assets/images/stock/small-1.jpg" class="d-block img-fluid" alt="First slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/stock/small-2.jpg" class="d-block img-fluid" alt="Second slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/stock/small-3.jpg" class="d-block img-fluid" alt="Third slide">
                        </ng-template>
                    </ngb-carousel>
                </div>
            </app-ui-card>
        </div>

        <div class="col-lg-6">
            <app-ui-card title="With Controls" [isTogglable]="true">
                <div card-body>
                    <ngb-carousel [showNavigationIndicators]="false"
                                  [showNavigationArrows]="true">
                        <ng-template ngbSlide>
                            <img src="assets/images/stock/small-4.jpg" class="d-block img-fluid" alt="First slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/stock/small-1.jpg" class="d-block img-fluid" alt="Second slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/stock/small-2.jpg" class="d-block img-fluid" alt="Third slide">
                        </ng-template>
                    </ngb-carousel>
                </div>
            </app-ui-card>
        </div>

        <div class="col-lg-6">
            <app-ui-card title="With Indicators" [isTogglable]="true">
                <div card-body>
                    <ngb-carousel [showNavigationIndicators]="true"
                                  [showNavigationArrows]="true">
                        <ng-template ngbSlide>
                            <img src="assets/images/stock/small-3.jpg" class="d-block img-fluid" alt="First slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/stock/small-2.jpg" class="d-block img-fluid" alt="Second slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/stock/small-1.jpg" class="d-block img-fluid" alt="Third slide">
                        </ng-template>
                    </ngb-carousel>
                </div>
            </app-ui-card>
        </div>

        <div class="col-lg-6">
            <app-ui-card title="With Captions" [isTogglable]="true">
                <div card-body>
                    <ngb-carousel [showNavigationIndicators]="false"
                                  [showNavigationArrows]="true">
                        <ng-template ngbSlide>
                            <img src="assets/images/stock/small-1.jpg" alt="..." class="d-block img-fluid">
                            <div class="carousel-caption d-none d-md-block">
                                <h3 class="text-white">First slide label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/stock/small-3.jpg" alt="..." class="d-block img-fluid">
                            <div class="carousel-caption d-none d-md-block">
                                <h3 class="text-white">Second slide label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/stock/small-2.jpg" alt="..." class="d-block img-fluid">
                            <div class="carousel-caption d-none d-md-block">
                                <h3 class="text-white">Third slide label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </app-ui-card>
        </div>


        <div class="col-lg-6">
            <app-ui-card title="Crossfade" [isTogglable]="true">
                <div card-body>
                    <ngb-carousel [animation]="true" class="carousel-fade" [showNavigationIndicators]="false"
                                  [showNavigationArrows]="true">
                        <ng-template ngbSlide>
                            <img src="assets/images/stock/small-1.jpg" class="d-block img-fluid" alt="First slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/stock/small-2.jpg" class="d-block img-fluid" alt="Second slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/stock/small-3.jpg" class="d-block img-fluid" alt="Third slide">
                        </ng-template>
                    </ngb-carousel>
                </div>
            </app-ui-card>
        </div>

        <div class="col-lg-6">
            <app-ui-card title="Individual Interval" [isTogglable]="true">
                <div card-body>
                    <ngb-carousel [animation]="true" [interval]="10000" [showNavigationIndicators]="false"
                                  [showNavigationArrows]="true">
                        <ng-template ngbSlide>
                            <img src="assets/images/stock/small-4.jpg" class="d-block img-fluid" alt="First slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/stock/small-2.jpg" class="d-block img-fluid" alt="Second slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/stock/small-1.jpg" class="d-block img-fluid" alt="Third slide">
                        </ng-template>
                    </ngb-carousel>
                </div>
            </app-ui-card>
        </div>

        <div class="col-lg-6">
            <app-ui-card title="Dark Variant" [isTogglable]="true">
                <div card-body>
                    <ngb-carousel [animation]="true" class="carousel-dark" [showNavigationIndicators]="true"
                                  [showNavigationArrows]="true">
                        <ng-template ngbSlide>
                            <img src="assets/images/stock/small-8.jpg" class="img-fluid" alt="Images">
                            <div class="carousel-caption d-none d-md-block">
                                <h4 class="fw-bold">First slide label</h4>
                                <p>Some representative placeholder content for the first slide.</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/stock/small-9.jpg" class="img-fluid" alt="Images">
                            <div class="carousel-caption d-none d-md-block">
                                <h4 class="fw-bold">Second slide label</h4>
                                <p>Some representative placeholder content for the second slide.</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/stock/small-10.jpg" class="img-fluid" alt="Images">
                            <div class="carousel-caption d-none d-md-block">
                                <h4 class="fw-bold">Third slide label</h4>
                                <p>Some representative placeholder content for the third slide.</p>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </app-ui-card>
        </div>
    </div>

</div>
