<div class="container-fluid">
    <app-page-title title="Inbox" subTitle="Apps"/>

    <div class="outlook-box email-app gap-1">
        <ng-template #content>
            <ngx-simplebar style="height: 100%">
                <app-email-sidebar/>
            </ngx-simplebar>
        </ng-template>
        <app-email-sidebar class="d-none d-lg-block outlook-left-menu outlook-left-menu-sm"/>

        <div
            class="card h-100 mb-0 rounded-start-0 flex-grow-1 border-start-0">
            <div class="card-header d-lg-none d-flex gap-2">
                <button class="btn btn-default btn-icon" (click)="open(content)" type="button">
                    <ng-icon name="tablerMenu2" class="fs-lg"/>
                </button>

                <div class="app-search">
                    <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="onSearch($event)" class="form-control"
                           placeholder="Search mails...">
                    <lucide-angular [img]="LucideSearch" class="app-search-icon text-muted"/>
                </div>
            </div>

            <div class="card-header card-bg justify-content-between">
                <div class="d-flex flex-wrap align-items-center gap-1">
                    <input class="form-check-input form-check-input-light fs-14 mt-0 me-3" type="checkbox"
                           [(ngModel)]="selectAll"
                           (change)="toggleSelectAll()"
                    >

                    @for (action of actions; track i; let i = $index) {
                        <button type="button" class="btn btn-default btn-icon btn-sm"
                                [ngbTooltip]="action.label">
                            <ng-icon [name]="action.icon" class="fs-lg"/>
                        </button>
                    }
                </div>

                <div class="app-search d-none d-lg-inline-flex">
                    <input [(ngModel)]="searchTerm" (ngModelChange)="onSearch($event)" type="text" class="form-control"
                           placeholder="Search mails...">
                    <lucide-angular [img]="LucideSearch" class="app-search-icon text-muted"/>
                </div>
            </div>

            <ngx-simplebar style="height: calc(100% - 100px);">
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-hover table-select mb-0">
                            <tbody>
                                @for (email of filteredEmails; track email.id) {
                                    <tr
                                        class="position-relative"
                                        [class]="email.isRead ? 'mark-as-read' : ''">
                                        <td class="ps-3" style="width: 1%;">
                                            <div class="d-flex gap-3">
                                                <input type="checkbox" [(ngModel)]="email.selected"
                                                       (change)="onEmailSelect(email)"
                                                       class="form-check-input form-check-input-light fs-14 position-relative z-2 mt-0 email-item-check"/>
                                                <button class="btn p-0" type="button"
                                                        [class]="email.isStarred ? 'text-warning' : 'text-muted'"
                                                >
                                                    @if (email.isStarred) {
                                                        <ng-icon name="tablerStarFill" class="fs-xl"/>
                                                    } @else {
                                                        <ng-icon name="tablerStar" class="fs-xl"/>
                                                    }
                                                </button>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center gap-2">
                                                    @if (email.avatar) {
                                                        <img [src]="email.avatar" alt="user avatar"
                                                             class="avatar-xs rounded-circle">

                                                    } @else {

                                                        <div class="avatar-xs">
                                                        <span class="avatar-title rounded-circle fw-bold"
                                                              [class]="email.variant || 'text-bg-dark'">
                                                          {{ email.name.charAt(0) }}
                                                        </span>
                                                        </div>
                                                    }

                                                <h5 class="fs-base mb-0 fw-medium">{{ email.name }}</h5>
                                            </div>
                                        </td>
                                        <td>
                                            <a routerLink="/apps/email/detail"
                                               class="link-reset fs-base fw-medium stretched-link">
                                                {{ email.subject }}
                                            </a>
                                            <span class="d-xl-inline-block d-none">—</span>
                                            <span class="fs-base text-muted d-xl-inline-block d-none mb-0">
                                    &nbsp;{{ email.snippet }}
                                </span>
                                        </td>
                                        <td style="width: 1%;">
                                            <div class="d-flex align-items-center gap-1"
                                                 [class]="email.attachments === 0 ? 'opacity-25' : ''">
                                                <ng-icon name="tablerPaperclip" class="ti ti-paperclip"></ng-icon>
                                                <span class="fw-semibold">{{ email.attachments }}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="fs-xs text-muted mb-0 text-end pe-2">{{ email.date }}
                                                , {{ email.time }}</p>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>

                    <div class="d-flex align-items-center justify-content-center gap-2 p-3">
                        <strong>Loading...</strong>
                        <div class="spinner-border spinner-border-sm text-danger" role="status"
                             aria-hidden="true"></div>
                    </div>
                </div>
            </ngx-simplebar>
        </div>
    </div>

</div>
