<header>

    <nav class="navbar navbar-expand-lg py-2 sticky-top {{isSticky ? 'top-scroll-up top-fixed': ''}}"
         id="landing-navbar">
        <div class="container">
            <div class="auth-brand mb-0">
                <a routerLink="/" class="logo-dark">
                    <img src="assets/images/logo.png" alt="dark logo" height="24">
                </a>
                <a routerLink="/" class="logo-light">
                    <img src="assets/images/logo.png" alt="logo" height="24">
                </a>
            </div>

            <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="navbarSupportedContent"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div [ngbCollapse]="isCollapsed" class="navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav fw-medium gap-2 fs-sm mx-auto mt-2 mt-lg-0" id="navbar-example">
                    @for (item of navItems; track $index) {
                        <li class="nav-item">
                            <a class="nav-link text-uppercase fs-xs"
                               [class.active]="scroll.activeSection === (item.toLowerCase())"
                               (click)="scroll.scrollTo(item)" href="javascript:void(0)">{{
                                    item
                                }}
                            </a>
                        </li>
                    }
                </ul>

                <div>
                    <button class="btn btn-link btn-icon fw-semibold text-body me-2" type="button" (click)="toggleTheme()">
                        <ng-icon name="tablerContrast" class="fs-22"></ng-icon>
                    </button>
                    <a routerLink="/auth/sign-up" class="btn btn-sm btn-light">Try for Free</a>
                </div>
            </div>
        </div>
    </nav>
</header>
