<div class="container-fluid">
    <app-page-title title="Custom Tables" subTitle="Tables"/>

    <div class="row">
        <div class="col-12">
            <app-table-with-search/>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <app-table-with-checkbox/>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <app-table-with-delete-button/>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <app-table-with-pagination/>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <app-table-with-pagination-info/>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <app-table-with-filters/>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <app-table-with-sort/>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <app-complete-table/>
        </div>
    </div>
</div>
