<div class="container-fluid">
    <app-page-title title="Flags" subTitle="Icons"/>
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card">
                <div class="card-header justify-content-between">
                    <div>
                        <h4 class="card-title mb-1 d-flex align-items-center gap-2">
                            Flags Listing (SVG)
                        </h4>
                        <p class="mb-0 text-muted">We offer a set of scalable SVG flags, perfect for language selectors
                            and international content.</p>
                    </div>
                    <div class="app-search">
                        <input type="search" [(ngModel)]="tableService.searchTerm" class="form-control"
                               placeholder="Search country..." id="countrySearch">
                        <lucide-angular [img]="LucideSearch" class="app-search-icon text-muted"/>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table id="flagTable" class="table-custom mb-0 table table-bordered align-middle text-center w-100">
                            <thead>
                            <tr class="fs-xxs">
                                <th>Flag</th>
                                <th  sortable="name" (sort)="tableService.setSort($event.column, $event.direction)">Country Name</th>
                                <th  sortable="name" (sort)="tableService.setSort($event.column, $event.direction)">Path</th>
                                <th sortable="code" (sort)="tableService.setSort($event.column, $event.direction)">code</th>
                            </tr>
                            </thead>
                            <tbody>
                                @if ((total$ | async)! > 0) {
                                    @for (country of countries$ | async; track $index) {
                                        <tr>
                                            <td>
                                                <img [src]="country.flag" height="18" class="rounded"/>
                                            </td>
                                            <td >{{ country.name }}</td>
                                            <td ><code>{{ country.flag }}</code></td>
                                            <td>{{ country.code.toUpperCase() }}</td>
                                        </tr>
                                    }
                                } @else {
                                    <tr>
                                        <td colspan="6" class="text-center table-danger" role="alert">
                                            No country name found. Please try again with a different search.
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer border-0">
                    @if ((total$ | async)! > 0) {
                        <app-custom-pagination
                            itemsName="countries"
                            [showingRange]="tableService.showingRange"
                            [collectionSize]="(total$ | async)!"
                            [(page)]="tableService.page"
                            [pageSize]="tableService.pageSize"
                        >
                        </app-custom-pagination>
                    }
                        </div>
                </div>
            </div>
        </div>
    </div>
