<div class="container-fluid">

    <app-page-title title="Customers" subTitle="Ecommerce"/>

    <div class="row justify-content-center">
        <div class="col-xxl-12">
            <div class="card">
                <div class="card-header border-light d-flex align-items-center justify-content-between flex-wrap gap-2">

                    <div class="d-flex gap-2">
                        <div class="app-search">
                            <input [(ngModel)]="tableService.searchTerm" type="search" class="form-control"
                                   placeholder="Search customer...">
                            <lucide-angular [img]="LucideSearch" class="app-search-icon text-muted"/>
                        </div>
                        @if (hasSelection) {
                            <button class="btn btn-danger" (click)="deleteSelected()">Delete</button>
                        }
                    </div>


                    <div class="d-flex align-items-center gap-2">
                        <div>
                            <select [(ngModel)]="tableService.pageSize" class="form-select form-control my-1 my-md-0">
                                <option [ngValue]="5">5</option>
                                <option [ngValue]="8">8</option>
                                <option [ngValue]="10">10</option>
                                <option [ngValue]="15">15</option>
                                <option [ngValue]="20">20</option>
                            </select>
                        </div>

                        <div ngbDropdown>
                            <button class="btn btn-default dropdown-toggle drop-arrow-none" type="button"
                                    ngbDropdownToggle>
                                <lucide-angular [img]="LucideDownload" class="me-1"/>
                                Export
                                <ng-icon
                                    name="tablerChevronDown" class="ms-1"/>
                            </button>
                            <ul class="dropdown-menu-end" ngbDropdownMenu>
                                <li><a ngbDropdownItem>Export as PDF</a></li>
                                <li><a ngbDropdownItem>Export as CSV</a></li>
                                <li><a ngbDropdownItem>Export as Excel</a></li>
                            </ul>
                        </div>

                        <a [routerLink]="[]" class="btn btn-primary">
                            <lucide-angular [img]="LucidePlus" class="fs-sm me-1"/>
                            Add Customer
                        </a>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-custom table-centered table-select table-hover w-100 mb-0">
                        <thead class="bg-light bg-opacity-25 thead-sm">
                        <tr class="text-uppercase fs-xxs">
                            <th class="ps-3" style="width: 1%;">
                                <input [(ngModel)]="selectAll" (change)="toggleAllSelection()"
                                       class="form-check-input form-check-input-light fs-14 mt-0"
                                       type="checkbox" id="select-all-products">
                            </th>
                            <th sortable="name" (sort)="tableService.setSort($event.column, $event.direction)">Clients
                                Name
                            </th>
                            <th sortable="email" (sort)="tableService.setSort($event.column, $event.direction)">Email
                            </th>
                            <th sortable="phone" (sort)="tableService.setSort($event.column, $event.direction)">Phone
                            </th>
                            <th sortable="country" (sort)="tableService.setSort($event.column, $event.direction)">
                                Country
                            </th>
                            <th sortable="date" (sort)="tableService.setSort($event.column, $event.direction)">Joined
                            </th>
                            <th sortable="orders" (sort)="tableService.setSort($event.column, $event.direction)">
                                Orders
                            </th>
                            <th sortable="totalSpends" (sort)="tableService.setSort($event.column, $event.direction)">
                                Total Spends
                            </th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            @if ((total$ | async)! > 0) {
                                @for (customer of customers$ | async; track $index) {
                                    <tr>
                                        <td class="ps-3">
                                            <input class="form-check-input form-check-input-light fs-14" type="checkbox"
                                                   [(ngModel)]="customer.selected" (change)="toggleSingleSelection()"/>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center gap-2">
                                                <div class="avatar avatar-sm">
                                                    <img [src]="customer.avatar" [alt]="customer.name"
                                                         class="img-fluid rounded-circle"/>
                                                </div>
                                                <div>
                                                    <h5 class="mb-0">
                                                        <a routerLink="/pages/profile"
                                                           class="link-reset">{{ customer.name }}</a>
                                                    </h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{ customer.email }}</td>
                                        <td>{{ customer.phone }}</td>
                                        <td>
                                            <img [src]="customer.countryFlag" alt="" class="rounded-circle me-1"
                                                 height="16"/>
                                            {{ customer.country }}
                                        </td>
                                        <td>{{ customer.date }} <small class="text-muted">{{ customer.time }}</small>
                                        </td>
                                        <td>{{ customer.orders }}</td>
                                        <td>{{ currency }}{{customer.totalSpends && customer.totalSpends.toFixed(2) }}</td>
                                        <td>
                                            <div class="d-flex align-items-center justify-content-center gap-1">
                                                <button class="btn btn-default btn-icon btn-sm rounded-circle">
                                                    <ng-icon name="tablerEye" class="fs-lg"/>
                                                </button>
                                                <button class="btn btn-default btn-icon btn-sm rounded-circle">
                                                    <ng-icon name="tablerEdit" class="fs-lg"/>
                                                </button>
                                                <button class="btn btn-default btn-icon btn-sm rounded-circle"
                                                        (click)="tableService.deleteItem(customer)">
                                                    <ng-icon name="tablerTrash" class="fs-lg"/>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            } @else {
                                <tr class="no-results">
                                    <td colspan="11" class="text-center text-muted py-3">Nothing found.</td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
                <div class="card-footer border-0">
                    @if ((total$ | async)! > 0) {
                        <app-custom-pagination
                            [showingRange]="tableService.showingRange"
                            [collectionSize]="(total$ | async)!"
                            [(page)]="tableService.page"
                            [pageSize]="tableService.pageSize"
                        >
                        </app-custom-pagination>
                    }
                </div>
            </div>
        </div>
    </div>

</div>
