<div class="container-fluid">
    <app-page-title title="Text Editors" subTitle="forms" />

    <div class="row">
        <div class="col-12">
            <div class="card">
                   <div class="card-header d-block">
                                <h4 class="card-title mb-1">Quilljs</h4>
                                <p class="text-muted mb-0">
                                    Quill is a modern WYSIWYG editor built for compatibility and extensibility
                                </p>
                            </div>
                <div class="card-body">

                        <h5 class="card-title mb-2">Snow Editor</h5>
                        <p class="text-muted">Snow is a clean, flat toolbar theme.</p>

                        <quill-editor  [(ngModel)]="content" theme="snow" [modules]="editorConfig"
                            style="height: 300px" class="w-100"></quill-editor>



                    <div class="border-top border-dashed"></div>


                        <h5 class="card-title mb-2">Bubble Editor</h5>

                        <p class="text-muted">Bubble is a simple tooltip based theme.</p>

                        <quill-editor  [(ngModel)]="content1" theme="bubble" [modules]="bubbleEditorConfig"
                            style="height: 300px" class="w-100"></quill-editor>

                </div>
            </div>

        </div>
    </div>

</div>
