<div class="container-fluid">
    <app-page-title title="Notifications" subTitle="UI" />

    <div class="row">
        <div class="col-lg-6">
            <app-ui-card title="Basic" [isTogglable]="true">
                <div card-body>
                    <p class="text-muted">
                        Toasts are as flexible as you need and have very little
                        required markup. At a minimum, we require a single
                        element to contain your “toasted” content and strongly
                        encourage a dismiss button.
                    </p>
                    <div class="p-3">
                        <ngb-toast class="fade" role="alert">
                            <ng-template ngbToastHeader>
                                <img
                                    src="assets/images/logo-sm.png"
                                    alt="brand-logo"
                                    height="16"
                                    class="me-1"
                                />
                                <strong class="me-auto text-body">BRAND</strong>
                                <small>11 mins ago</small>
                            </ng-template>
                            Hello, world! This is a toast message.
                        </ngb-toast>
                    </div>
                </div>
            </app-ui-card>

            <app-ui-card title="Placement" [isTogglable]="true">
                <div card-body>
                    <p class="text-muted">
                        Place toasts with custom CSS as you need them. The top
                        right is often used for notifications, as is the top
                        middle. If you’re only ever going to show one toast at a
                        time, put the positioning styles right on the
                        <code>.toast</code>.
                    </p>
                    <div class="p-3">
                        <div
                            class="d-flex justify-content-center align-items-center"
                            style="min-height: 200px"
                        >
                            <ngb-toast
                                class="fade"
                                role="alert"
                                [autohide]="false"
                            >
                                <ng-template ngbToastHeader>
                                    <img
                                        src="assets/images/logo-sm.png"
                                        alt="brand-logo"
                                        height="16"
                                        class="me-1"
                                    />
                                    <strong class="me-auto text-body"
                                        >BRAND</strong
                                    >
                                    <small>11 mins ago</small>
                                </ng-template>
                                Hello, world! This is a toast message.
                            </ngb-toast>
                        </div>
                    </div>
                </div>
            </app-ui-card>

            <app-ui-card title="Placement" [isTogglable]="true">
                <div card-body>
                    <p class="text-muted">
                        Place toasts with custom CSS as you need them. The top
                        right is often used for notifications, as is the top
                        middle. If you’re only ever going to show one toast at a
                        time, put the positioning styles right on the
                        <code>.toast</code>.
                    </p>

                    <form>
                        <div class="mb-3">
                            <label for="selectToastPlacement"
                                >Toast placement</label
                            >
                            <select
                                [(ngModel)]="toastPlacement"
                                name="toastPlacement"
                                class="form-select mt-2"
                                id="selectToastPlacement"
                            >
                                <option value="" selected>
                                    Select a position...
                                </option>
                                <option value="top-0 start-0">Top left</option>
                                <option
                                    value="top-0 start-50 translate-middle-x"
                                >
                                    Top center
                                </option>
                                <option value="top-0 end-0">Top right</option>
                                <option
                                    value="top-50 start-0 translate-middle-y"
                                >
                                    Middle left
                                </option>
                                <option
                                    value="top-50 start-50 translate-middle"
                                >
                                    Middle center
                                </option>
                                <option value="top-50 end-0 translate-middle-y">
                                    Middle right
                                </option>
                                <option value="bottom-0 start-0">
                                    Bottom left
                                </option>
                                <option
                                    value="bottom-0 start-50 translate-middle-x"
                                >
                                    Bottom center
                                </option>
                                <option value="bottom-0 end-0">
                                    Bottom right
                                </option>
                            </select>
                        </div>
                    </form>
                    <div
                        class="bg-light position-relative bd-example-toasts"
                        style="min-height: 294px"
                    >
                        <ngb-toast
                            [autohide]="false"
                            class="m-3 position-absolute fade {{ toastPlacement }}"
                            (hidden)="placement = false"
                            role="alert"
                        >
                            <ng-template ngbToastHeader>
                                <img
                                    src="assets/images/logo-sm.png"
                                    alt="brand-logo"
                                    height="16"
                                    class="me-1"
                                />
                                <strong class="me-auto text-body">BRAND</strong>
                                <small>11 mins ago</small>
                            </ng-template>
                            Hello, world! This is a toast message.
                        </ngb-toast>
                    </div>
                </div>
            </app-ui-card>
        </div>

        <div class="col-lg-6">
            <app-ui-card title="Live Toast" [isTogglable]="true">
                <div card-body>
                    <p class="text-muted">
                        Click the button below to show a toast (positioned with
                        our utilities in the Toop Right corner) that has been
                        hidden by default.
                    </p>

                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="liveToast = true"
                    >
                        Show live toast
                    </button>

                    <div class="toast-container position-fixed top-0 end-0 p-3">
                        @if (liveToast) {
                        <ngb-toast class="fade" role="alert">
                            <ng-template ngbToastHeader>
                                <img
                                    src="assets/images/logo-sm.png"
                                    alt="brand-logo"
                                    height="16"
                                    class="me-1"
                                />
                                <strong class="me-auto text-body">BRAND</strong>
                                <small>11 mins ago</small>
                            </ng-template>
                            Hello, world! This is a toast message.
                        </ngb-toast>
                        }
                    </div>
                </div>
            </app-ui-card>

            <app-ui-card title="Translucent" [isTogglable]="true">
                <div card-body>
                    <p class="text-muted">
                        Toasts are slightly translucent, too, so they blend over
                        whatever they might appear over. For browsers that
                        support the backdrop-filter CSS property, we’ll also
                        attempt to blur the elements under a toast.
                    </p>

                    <div class="p-3 bg-light bg-opacity-50">
                        <ngb-toast class="fade" role="alert" [autohide]="false">
                            <ng-template ngbToastHeader>
                                <img
                                    src="assets/images/logo-sm.png"
                                    alt="brand-logo"
                                    height="16"
                                    class="me-1"
                                />
                                <strong class="me-auto text-body">BRAND</strong>
                                <small>11 mins ago</small>
                            </ng-template>
                            Hello, world! This is a toast message.
                        </ngb-toast>
                    </div>
                </div>
            </app-ui-card>

            <app-ui-card title="Stacking" [isTogglable]="true">
                <div card-body>
                    <p class="text-muted">
                        When you have multiple toasts, we default to vertiaclly
                        stacking them in a readable manner.
                    </p>
                    <div class="p-3">
                        <div
                            aria-live="polite"
                            aria-atomic="true"
                            style="position: relative; min-height: 200px"
                        >
                            <div
                                class="toast-container"
                                style="position: absolute; top: 0; right: 0"
                            >
                                <ngb-toast class="fade" role="alert">
                                    <ng-template ngbToastHeader>
                                        <img
                                            src="assets/images/logo-sm.png"
                                            alt="brand-logo"
                                            height="16"
                                            class="me-1"
                                        />
                                        <strong class="me-auto text-body"
                                            >BRAND</strong
                                        >
                                        <small>just now</small>
                                    </ng-template>
                                    See? Just like this.
                                </ngb-toast>

                                <ngb-toast class="fade" role="alert">
                                    <ng-template ngbToastHeader>
                                        <img
                                            src="assets/images/logo-sm.png"
                                            alt="brand-logo"
                                            height="16"
                                            class="me-1"
                                        />
                                        <strong class="me-auto text-body"
                                            >BRAND</strong
                                        >
                                        <small>2 seconds ago</small>
                                    </ng-template>
                                    Heads up, toasts will stack automatically
                                </ngb-toast>
                            </div>
                        </div>
                    </div>
                </div>
            </app-ui-card>

            <app-ui-card title="Custom content" [isTogglable]="true">
                <div card-body>
                    @if (showToast) {
                    <ngb-toast class="align-items-center mb-2" role="alert">
                        <div class="d-flex">
                            Hello, world! This is a toast message.
                            <button
                                type="button"
                                class="btn-close me-0 m-auto"
                                (click)="close()"
                            ></button>
                        </div>
                    </ngb-toast>
                    } @if (showToast2) {
                    <ngb-toast
                        class="align-items-center text-white bg-primary border-0 mb-2"
                        role="alert"
                    >
                        <div class="d-flex">
                            Hello, world! This is a toast message.
                            <button
                                type="button"
                                class="btn-close me-0 m-auto"
                                (click)="showToast2 = false"
                            ></button>
                        </div>
                    </ngb-toast>
                    } @if (showToast3) {
                    <ngb-toast class="mb-2" role="alert">
                        Hello, world! This is a toast message.
                        <div class="mt-2 pt-2 border-top">
                            <button
                                type="button"
                                class="btn btn-primary btn-sm me-1"
                            >
                                Take action
                            </button>
                            <button
                                type="button"
                                class="btn btn-secondary btn-sm"
                                (click)="showToast3 = false"
                            >
                                Close
                            </button>
                        </div>
                    </ngb-toast>
                    }
                </div>
            </app-ui-card>
        </div>
    </div>
</div>
