<div class="container-fluid">
    <app-page-title title="Orders" subTitle="Ecommerce"/>

    <div class="row row-cols-xxl-5 row-cols-md-3 row-cols-1 align-items-center g-1">
        @for (item of orderStats; track $index) {
            <div class="col">
                <app-statistics-widget [item]="item"/>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header border-light justify-content-between">
                    <div class="d-flex gap-2">
                        <div class="app-search">
                            <input [(ngModel)]="tableService.searchTerm" type="search" class="form-control"
                                   placeholder="Search order...">
                            <lucide-angular [img]="LucideSearch" class="app-search-icon text-muted"/>
                        </div>
                        @if (hasSelection) {
                            <button class="btn btn-danger" (click)="deleteSelected()">Delete</button>
                        }
                    </div>

                    <div class="d-flex align-items-center gap-2">
                        <span class="me-2 fw-semibold">Filter By:</span>

                        <div class="app-search">
                            <select [(ngModel)]="filterPaymentStatus"
                                    (ngModelChange)="tableService.setFilter('paymentStatus', filterPaymentStatus)"
                                    class="form-select form-control my-1 my-md-0">
                                <option value="All">Payment Status</option>
                                <option value="Paid">Paid</option>
                                <option value="Pending">Pending</option>
                                <option value="Failed">Failed</option>
                                <option value="Refunded">Refunded</option>
                            </select>
                            <lucide-angular [img]="LucideCreditCard" class="app-search-icon text-muted"/>
                        </div>

                        <div class="app-search">
                            <select [(ngModel)]="filterOrderStatus"
                                    (ngModelChange)="tableService.setFilter('orderStatus', filterOrderStatus)"
                                    class="form-select form-control my-1 my-md-0">
                                <option value="All">Delivery Status</option>
                                <option value="Processing">Processing</option>
                                <option value="Shipped">Shipped</option>
                                <option value="Delivered">Delivered</option>
                                <option value="Cancelled">Cancelled</option>
                            </select>
                            <lucide-angular [img]="LucideTruck" class="app-search-icon text-muted"/>
                        </div>

                        <div>
                            <select [(ngModel)]="tableService.pageSize" class="form-select form-control my-1 my-md-0">
                                <option [ngValue]="5">5</option>
                                <option [ngValue]="8">8</option>
                                <option [ngValue]="10">10</option>
                                <option [ngValue]="15">15</option>
                                <option [ngValue]="20">20</option>
                            </select>
                        </div>

                    </div>

                    <div class="d-flex gap-1">
                        <button class="btn btn-danger ms-1">
                            <lucide-angular [img]="LucidePlus" class="fs-sm me-1"/>
                            Add Order
                        </button>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-custom table-centered table-select table-hover w-100 mb-0">
                        <thead class="bg-light align-middle bg-opacity-25 thead-sm">
                        <tr class="text-uppercase fs-xxs">
                            <th class="ps-3" style="width: 1%;">
                                <input [(ngModel)]="selectAll" (change)="toggleAllSelection()"
                                       class="form-check-input form-check-input-light fs-14 mt-0"
                                       type="checkbox" value="option">
                            </th>
                            <th sortable="id" (sort)="tableService.setSort($event.column, $event.direction)">Order ID
                            </th>
                            <th sortable="date" (sort)="tableService.setSort($event.column, $event.direction)">Date</th>
                            <th sortable="name" (sort)="tableService.setSort($event.column, $event.direction)">
                                Customer
                            </th>
                            <th sortable="amount" (sort)="tableService.setSort($event.column, $event.direction)">
                                Amount
                            </th>
                            <th sortable="paymentStatus" (sort)="tableService.setSort($event.column, $event.direction)">
                                Payment Status
                            </th>
                            <th sortable="orderStatus" (sort)="tableService.setSort($event.column, $event.direction)">
                                Order Status
                            </th>
                            <th>Payment Method</th>
                            <th class="text-center" style="width: 1%;">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            @if ((total$ | async)! > 0) {
                                @for (order of orders$ | async; track $index) {
                                    <tr>
                                        <td class="ps-3">
                                            <input
                                                class="form-check-input form-check-input-light fs-14 product-item-check mt-0"
                                                type="checkbox" [(ngModel)]="order.selected"
                                                (change)="toggleSingleSelection()"/>
                                        </td>
                                        <td>
                                            <h5 class="fs-sm mb-0 fw-medium">
                                                <a routerLink="/ecommerce/orders/{{order.id}}"
                                                   class="link-reset">#{{ order.id }}</a>
                                            </h5>
                                        </td>
                                        <td>{{ order.date }} <small class="text-muted">{{ order.time }}</small></td>
                                        <td>
                                            <div class="d-flex justify-content-start align-items-center gap-2">
                                                <div class="avatar avatar-sm">
                                                    <img [src]="order.avatar" alt="avatar"
                                                         class="img-fluid rounded-circle"/>
                                                </div>
                                                <div>
                                                    <h5 class="text-nowrap fs-base mb-0 lh-base">{{ order.name }}</h5>
                                                    <p class="text-muted fs-xs mb-0">{{ order.email }}</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{ currency }}{{ order.amount && order.amount.toFixed(2) }}</td>
                                        <td  [class]="
                                          order.paymentStatus === 'pending' ? 'text-warning' :
                                          order.paymentStatus === 'failed' ? 'text-danger' :
                                          'text-success'
                                        " class="fw-semibold">
                                <span class="d-flex align-items-center flex-wrap gap-1">
                                <ng-icon name="tablerPointFill" class="fs-sm"/>
                                    {{ toTitleCase(order.paymentStatus) }}
                                </span>
                                        </td>
                                        <td>
                            <span [class]="
                                      order.orderStatus === 'delivered' ? 'badge-soft-success' :
                                      order.orderStatus === 'processing' ? 'badge-soft-warning' :
                                      order.orderStatus === 'cancelled' ? 'badge-soft-danger' :
                                      'badge-soft-info'
                                    "
                                  class="badge fs-xxs">
                                  {{ toTitleCase(order.orderStatus) }}
                                </span>
                                        </td>
                                        <td>
                                            <img [src]="order.cardImage" alt="" class="me-2" height="28"/>
                                            {{ order.cardNumber }}
                                        </td>
                                        <td>
                                            <div class="d-flex justify-content-center gap-1">
                                                <button class="btn btn-default btn-icon btn-sm rounded-circle">
                                                    <ng-icon name="tablerEye" class="fs-lg"/>
                                                </button>
                                                <button class="btn btn-default btn-icon btn-sm rounded-circle">
                                                    <ng-icon name="tablerEdit" class="fs-lg"/>
                                                </button>
                                                <button class="btn btn-default btn-icon btn-sm rounded-circle"
                                                        (click)="tableService.deleteItem(order)">
                                                    <ng-icon name="tablerTrash" class="fs-lg"/>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            } @else {
                                <tr class="no-results">
                                    <td colspan="11" class="text-center text-muted py-3">Nothing found.</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <div class="card-footer border-0">
                    @if ((total$ | async)! > 0) {
                        <app-custom-pagination
                            [showingRange]="tableService.showingRange"
                            [collectionSize]="(total$ | async)!"
                            [(page)]="tableService.page"
                            [pageSize]="tableService.pageSize"
                        >
                        </app-custom-pagination>
                    }
                </div>
            </div>

        </div>
    </div>

</div>
