<div class="card border  shadow-none h-100 my-4 my-lg-0"
     [class]="plan.isPopular ? 'text-bg-primary' : 'bg-light bg-opacity-40 border-dashed'">
    <div class="card-body px-lg-4  pb-2 text-center">
        <div class="text-center">
            <h3 class="fw-bold mb-1">{{ plan.name }}</h3>
            <p class="text-muted mb-0">{{ plan.description }}</p>
        </div>

        <div class="my-4">
            <h1 class="display-6 fw-bold mb-0">${{ plan.price }}</h1>
            <small class="d-block text-muted fs-base fw-medium">One-time payment</small>
            <small class="d-block text-muted fw-medium">{{ plan.highlight }}</small>

        </div>

        <ul class="list-unstyled text-start fs-sm fw-medium mb-0">
            @for (feature of plan.features; track $index) {
                <li class="mb-2">
                    <ng-icon [name]="feature.included ? 'tablerCheck':'tablerX'" class="me-2 fs-5"
                             [class]="feature.included ? 'text-success': 'text-danger'"></ng-icon>
                    {{ feature.text }}
                </li>
            }
        </ul>
    </div>

    <div class="card-footer bg-transparent border-0 px-5 pb-4">
        <a href="javascript:void(0)" class="btn w-100 py-2 fw-semibold rounded-pill" [class]="plan.btnClass">
            Buy {{ plan.name }}
        </a>
    </div>
</div>
