<div class="container-fluid">
    <app-page-title subTitle="forms" title="File Uploads" />

    <div class="row">
        <div class="col-12">
            <div class="card">
                 <div class="card-header d-block">
                                <h4 class="card-title mb-1">Dropzone</h4>
                                <p class="text-muted mb-0">
                                    DropzoneJS is an open source library that provides drag’n’drop file uploads with image previews.
                                </p>
                            </div>
                <div class="card-body">


                    <div class=" pt-0">
                        <FileUploader />
                    </div>


                </div>
            </div>

            <div class="card">
                 <div class="card-header d-block">
                                <h4 class="card-title mb-1">Filepond</h4>
                                <p class="text-muted mb-0">
                                    A JavaScript library that can upload anything you throw at it, optimizes images for faster uploads, and offers a great, accessible, silky smooth user experience.
                                </p>
                            </div>
                <div class="card-body">


                    <div class="pb-3 pt-0">

                        <div class="mb-3">
                            <h5 class="mb-3">Basic Example</h5>
                            <div class="filepond-uploader">
                                <file-pond name="filepond" [options]="basicFilePondConfig" />
                            </div>
                        </div>

                        <div class="mb-3">
                            <h5 class="mb-3">Two Grid Example</h5>
                            <div class="filepond-uploader two-grid">
                                <file-pond name="filepond" [options]="basicFilePondConfig"
                                    className="filepond-input-multiple" />
                            </div>
                        </div>

                        <div>
                            <h5 class="mb-3">Three Grid Example</h5>
                            <div class="filepond-uploader three-grid">
                                <file-pond name="filepond" [options]="basicFilePondConfig"
                                    className="filepond-input-multiple" />
                            </div>
                        </div>
                    </div>

                    <div class="border-top border-dashed"></div>

                    <div class="pt-3">
                        <h4 class="card-title mb-2">Profile Picture</h4>

                        <p class="text-muted">FilePond is a JavaScript library with profile picture-shaped file upload
                            variation.</p>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="avatar-xxl">
                                    <file-pond name="filepond" [options]="userFilePondConfig"
                                        className="filepond-input-circle" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="avatar-xxl">
                                    <file-pond name="filepond" [options]="userFilePondConfig" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
