<div class="container-fluid">
    <app-page-title title="Product Details" subTitle="Ecommerce"/>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col-xl-4">
                            <div class="card card-top-sticky border-0">
                                <div class="card-body p-0">
                                    <ngb-carousel [showNavigationArrows]="false" #carousel
                                                  [showNavigationIndicators]="false"
                                                  class="carousel-fade carousel-inner bg-light bg-opacity-25 border border-light border-dashed rounded-3"
                                                  [interval]="0" [keyboard]="true" [pauseOnHover]="true" [wrap]="true">
                                        @for (image of images; track $index; let i = $index) {
                                            <ng-template ngbSlide
                                                         id="slide-{{i}}">
                                                <div class="text-center">
                                                    <img [src]="image" class="img-fluid" alt="Slide {{ i + 1 }}">
                                                </div>
                                            </ng-template>
                                        }
                                    </ngb-carousel>

                                    <div
                                        class="carousel-indicators m-0 mt-3 d-lg-flex d-none position-static h-100 rounded gap-2">
                                        @for (image of images; track $index; let i = $index) {
                                            <button
                                                data-bs-target=""
                                                type="button"
                                                (click)="carousel.select('slide-' + i)"
                                                [class.active]="carousel.activeId === 'slide-' + i"
                                                class="h-auto rounded bg-light-subtle border"
                                                style="width: auto !important;"
                                            >
                                                <img [src]="image" class="d-block avatar-xl" alt="indicator-img">
                                            </button>
                                        }
                                    </div>

                                    <div class="text-center my-3">
                                        <a routerLink="/ecommerce/products/add" class="btn btn-light me-1">
                                            <ng-icon
                                                name="tabler:pencil" class="fs-lg me-1"/>
                                            Edit</a>
                                        <a routerLink="/ecommerce/products/add" class="btn btn-danger">
                                            <ng-icon
                                                name="tablerCircleDashedX" class="fs-lg me-1"/>
                                            Delisting</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-8">
                            @if (product) {
                                <div class="p-4">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                        <span
                                            class="badge px-2 py-1 fs-base rounded-pill"
                                            [class]="
                                              product.status === 'pending' ? 'badge-soft-warning text-warning' :
                                              product.status === 'out-of-stock' ? 'badge-soft-danger text-danger' : 'badge-soft-success text-success'
                                            "
                                        >{{ toTitleCase(product.status) }}</span>
                                        </div>
                                        <div
                                            class="flex-grow-1 d-inline-flex align-items-center justify-content-end fs-lg">
                                            <app-rating [rate]="product.rating" size="16"/>
                                            <span class="ms-1 fs-base"><a routerLink="/ecommerce/reviews"
                                                                          class="link-reset fw-medium">({{ product.reviews }}
                                                Reviews)</a> </span>
                                        </div>
                                    </div>
                                    <div class="mt-3 mb-4">
                                        <h4 class="fs-xl">{{ product.name }}</h4>
                                    </div>

                                    <div class="row mb-4">
                                        <div class="col-md-4 col-xl-3">
                                            <h6 class="mb-1 text-muted text-uppercase">SKU:</h6>
                                            <p class="fw-medium mb-0">{{ product.sku }}</p>
                                        </div>
                                        <div class="col-md-4 col-xl-3">
                                            <h6 class="mb-1 text-muted text-uppercase">Category:</h6>
                                            <p class="fw-medium mb-0">{{ product.category }}</p>
                                        </div>
                                        <div class="col-md-4 col-xl-3">
                                            <h6 class="mb-1 text-muted text-uppercase">Stock:</h6>
                                            <p class="fw-medium mb-0">{{ product.stock }}</p>
                                        </div>
                                        <div class="col-md-4 col-xl-3">
                                            <h6 class="mb-1 text-muted text-uppercase">Published:</h6>
                                            <p class="fw-medium mb-0">{{ product.date }} <small
                                                class="text-muted">{{ product.time }}
                                            </small></p>
                                        </div>
                                    </div>

                                    <div class="row mb-4">
                                        <div class="col-md-4 col-xl-3">
                                            <h6 class="mb-1 text-muted text-uppercase">Orders:</h6>
                                            <p class="fw-medium mb-0">{{ product.orders }}</p>
                                        </div>
                                        <div class="col-md-4 col-xl-3">
                                            <h6 class="mb-1 text-muted text-uppercase">Revenue:</h6>
                                            <p class="fw-medium mb-0">$20,886.25</p>
                                        </div>
                                    </div>

                                    <h3 class="text-muted d-flex align-items-center gap-2 mb-4">
                                        <small
                                            class="text-decoration-line-through">{{ currency }}{{ product.price }}</small>
                                        <span class="fw-bold text-danger">{{ currency }}{{ product.sellPrice }}</span>
                                        <small>({{ getDiscountPercentage(product.price, product.sellPrice) }}%)</small>
                                    </h3>

                                    <h5 class="text-uppercase text-muted fs-xs mb-2">Product Info:</h5>

                                    <p>The Apple iMac 24” with the M3 chip redefines performance and design. Featuring a stunning 4.5K Retina display, ultra-fast processing, and a sleek aluminum chassis in multiple colors, it’s perfect for creatives and professionals alike.

                                    </p>
                                    <p>Enjoy seamless performance with macOS, optimized apps, and powerful memory — all in an all-in-one setup that fits any workspace.</p>

                                    <h6 class="mt-3 fs-base">Details :</h6>
                                    <ul class="d-flex flex-column gap-1 mb-3">
                                        <li>
                                            24” 4.5K Retina Display with True Tone.
                                        </li>
                                        <li>8GB unified memory (configurable to 24GB).</li>
                                        <li>512GB SSD storage (configurable up to 2TB).</li>
                                        <li>Color-matched Magic Keyboard and Mouse.</li>
                                    </ul>

                                    <a [routerLink]="[]" class="link-primary fw-semibold">Read More...</a>


                                    <app-reviews/>

                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
