<div class="container-fluid">
    <app-page-title title="Alerts" subTitle="UI" />

    <div class="row">
        <div class="col-xl-6">
            <app-ui-card title="Default Alert" [isTogglable]="true">
                <div card-body>
                    @for (alert of alertData; track $index) {
                    <ngb-alert [dismissible]="false" [type]="alert.type"
                        >{{ alert.message }}
                    </ngb-alert>
                    }
                </div>
            </app-ui-card>
        </div>

        <div class="col-xl-6">
            <app-ui-card
                title="Dismissing Alert with Solid Colors"
                [isTogglable]="true"
            >
                <div card-body>
                    @for (alert of alertData1; track alert.id) {
                    <ngb-alert
                        [type]="alert.type"
                        [dismissible]="false"
                        class="text-bg-{{alert.type}} d-flex justify-content-between align-items-center"
                    >
                        <span>{{ alert.message }}</span>
                        <button
                            type="button"
                            aria-label="Close"
                            [class]="alert.type === 'light' ? 'btn-close' : 'btn-close btn-close-white'"
                            (click)="close1(alert)"
                        ></button>
                    </ngb-alert>
                    }
                </div>
            </app-ui-card>
        </div>

        <div class="col-xl-6">
            <app-ui-card title="Link Color" [isTogglable]="true">
                <div card-body>
                    @for (item of linkAlert; track $index) {
                    <ngb-alert
                        [type]="item.variant"
                        [innerHtml]="item.content"
                        role="alert"
                    ></ngb-alert>
                    }
                </div>
            </app-ui-card>
        </div>

        <div class="col-xl-6">
            <app-ui-card title="Additional Content" [isTogglable]="true">
                <div card-body>
                    <ngb-alert
                        [dismissible]="false"
                        type="success"
                        class="p-3"
                        role="alert"
                    >
                        <h4 class="alert-heading">Great job!</h4>
                        <p>
                            You’ve successfully read this important alert
                            message. The text is intentionally a bit longer to
                            demonstrate how spacing behaves in this kind of
                            layout.
                        </p>
                        <hr class="border-success border-opacity-25" />
                        <p class="mb-0">
                            Use margin utilities to keep your content clean and
                            organized.
                        </p>
                    </ngb-alert>

                    <ngb-alert
                        [dismissible]="false"
                        type="secondary"
                        class="p-3 d-flex"
                        role="alert"
                    >
                        <ng-icon
                            name="tablerAlarmAverage"
                            class="fs-1 me-2"
                        ></ng-icon>
                        <div>
                            <h4 class="alert-heading">Heads up!</h4>
                            <p>
                                This alert message gives additional information
                                with a longer message to show content spacing
                                within an alert.
                            </p>
                            <hr class="border-secondary border-opacity-25" />
                            <p class="mb-0">
                                Apply spacing classes wisely to maintain
                                structure and clarity.
                            </p>
                        </div>
                    </ngb-alert>

                    <ngb-alert
                        [dismissible]="false"
                        [type]="'danger'"
                        class="d-flex p-3 mb-0"
                        role="alert"
                    >
                        <ng-icon
                            name="tablerPhoneRinging"
                            class="fs-1 me-2"
                        ></ng-icon>
                        <div>
                            <h4 class="alert-heading">Notice!</h4>
                            <p>
                                You’ve just read through a primary alert
                                message. The extra length helps show how well
                                the layout handles content spacing.
                            </p>
                            <button
                                type="button"
                                class="btn btn-primary btn-sm"
                            >
                                Got it
                            </button>
                        </div>
                    </ngb-alert>
                </div>
            </app-ui-card>
        </div>

        <div class="col-xl-6">
            <app-ui-card [title]="'Custom Alerts'" [isTogglable]="true">
                <div card-body>
                    @if (showAlerts.primary) {
                    <ngb-alert
                        type="primary"
                        class="border border-primary mb-3"
                        [dismissible]="true"
                        (click)="showAlerts.primary = false"
                        role="alert"
                    >
                        A primary alert with a full border!
                    </ngb-alert>
                    } @if (showAlerts.secondary) {
                    <ngb-alert
                        type="secondary"
                        class="alert-bordered border-start border-secondary mb-3"
                        [dismissible]="true"
                        (click)="showAlerts.secondary = false"
                        role="alert"
                    >
                        A secondary alert with a left border only!
                    </ngb-alert>
                    } @if (showAlerts.dark) {
                    <ngb-alert
                        type="dark"
                        class="alert-bordered border-bottom border-dark mb-3"
                        [dismissible]="true"
                        (click)="showAlerts.dark = false"
                        role="alert"
                    >
                        A dark alert with a bottom border!
                    </ngb-alert>
                    } @if (showAlerts.success) {
                    <ngb-alert
                        type="success"
                        class="border-2 border border-dashed border-success mb-3"
                        [dismissible]="true"
                        (click)="showAlerts.success = false"
                        role="alert"
                    >
                        A success alert with a dashed border!
                    </ngb-alert>
                    } @if (showAlerts.danger) {
                    <ngb-alert
                        type="danger"
                        class="border-2 border-danger mb-3"
                        [dismissible]="true"
                        (click)="showAlerts.danger = false"
                        role="alert"
                    >
                        A danger alert with a thick border!
                    </ngb-alert>
                    } @if (showAlerts.warning) {
                    <ngb-alert
                        type="warning"
                        class="d-flex align-items-center justify-content-between mb-3"
                        [dismissible]="false"
                        role="alert"
                    >
                        <div>A warning alert with a custom close button!</div>
                        <button
                            type="button"
                            (click)="showAlerts.warning = false"
                            class="btn btn-sm btn-warning btn-icon rounded-circle"
                        >
                            <ng-icon name="tablerX" class="fs-lg"></ng-icon>
                        </button>
                    </ngb-alert>
                    } @if (showAlerts.info) {
                    <ngb-alert
                        type="info"
                        class="d-flex align-items-center gap-2 mb-3"
                        [dismissible]="true"
                        (click)="showAlerts.info = false"
                        role="alert"
                    >
                        <ng-icon
                            name="tablerAlertOctagon"
                            class="fs-xl"
                        ></ng-icon>
                        An info alert with a custom icon!
                    </ngb-alert>
                    } @if (showAlerts.light) {
                    <ngb-alert
                        type="light"
                        [dismissible]="false"
                        class="border-2 d-flex align-items-center p-3 mb-0"
                        role="alert"
                    >
                        <ng-icon
                            name="tablerPhoneRinging"
                            class="text-success fs-2 me-3"
                        ></ng-icon>
                        <div>
                            <h4 class="alert-heading">Notice!</h4>
                            <p class="m-0">
                                You’ve just read through a primary alert
                                message. The extra length helps show how well
                                the layout handles content spacing.
                            </p>
                        </div>
                    </ngb-alert>
                    }
                </div>
            </app-ui-card>
        </div>

        <div class="col-xl-6">
            <app-ui-card title="Live Alert" [isTogglable]="true">
                <div card-body>
                    @for (alert of alerts; track $index) {
                    <ngb-alert
                        [type]="'success'"
                        (close)="removeAlert(alert.id)"
                        >Nice, you triggered this alert message!
                    </ngb-alert>
                    }

                    <button
                        type="button"
                        (click)="triggerAlert()"
                        class="btn btn-primary"
                        id="liveAlertBtn"
                    >
                        Show live alert
                    </button>
                </div>
            </app-ui-card>
        </div>
    </div>
</div>
